body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: "Opens sans",sans-serif;
    color: black;
    background: url("../img/background.webp") center;


   }

section{
    display: block;
} 

.container{
    max-width: 100px;
}
/*Start of Naviatiion*/

.header{
    height: 100vh;
    background: #040404 url("../img/teclado.jpeg") center no-repeat;
    background-size: cover;
    transition: ease-in-out 0.3s;
 } 
 

.header .main-menu.navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header .main-menu.navbar{
    padding: 1rem 20rem;
}

.header .main-menu .nav-item .nav-link{
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
}
.header .main-menu .nav-item .nav-link:hover{
    /*color:#18d26e;*/
    color:rgba(24, 210, 110, 0.7);
}

#header .container{
    width: 100%;
    height: auto;
    justify-content: space-around;
    flex-flow: wrap;
    align-items: center;
    margin-top: 25%;
    margin-right: 15%;

   }
#header .container h1{
    font-size: 48px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    font-family: "Popins",sans-serif;
}
#header .container h1 a{
    color: #fff;
    line-height: 1;
    display: inline-block;
}
#header .container h1 a:hover{
   text-decoration: none;
}
#header .container h2{
    font-size: 24px;
    margin-top: 24px;
    color: rgba(255,255,255,0.8);
}





/*Social Links*/
.social-links{
    margin-top: 40px;
    display: flex;
}
.social-links a{
   font-size: 16px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgba(255,255,255,0.1);
   color: aliceblue;
   line-height: 1;
   margin-right: 8px;
   border-radius: 50%;
   width: 40px;
   height: 40px;
}
.social-links a:hover{
    background: #18d26e;
}


/* Colocar container responsivo*/
  @media(max-width:993px){
    #header .container h1{
        font-size: 36px;
    }
    #header .container h2{
        font-size: 20px;
        line-height: 30px;
    }
    #header .social-links{
        margin-top: 15px;
    }
    #header .container{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .row{
        display:table-column;
    }
}

#about{
    color: black;
    
}

#about .container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}



.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem
}
.card {
    border: 0;
    border-radius: 0.1875rem;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 20%);
}

#about .card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

#about .card-body .title{
    margin-bottom: 40px;
}

#about #row{
    padding-right: 10px;
    display:contents;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
#photos{
    height: 250px;
    width: 300px;
    margin-bottom: 15px;
}
#photos:hover{
    height: 300px;
    width: 350px;
}

.title{
    font:bolder;
}
.p{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.5;
    color: #212529;   
}

.p span{
    color:  crimson;
}
#basic-inf{
    margin-top: 50px;
}


@media (min-width:0px) {
    .container {
        max-width: 300px
    }
}
@media (min-width:450px) {
    .container {
        max-width: 400px
    }
}
@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
    .mt-md-2 {
        margin-top: 0.5rem!important;
    }

    #portfolio .col-md-6 {
        width: 50%;
        flex: 0 0 auto;
    }

}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}



.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


/*---------------SKILLS---------------*/

#skill{
margin-top: 150px;
}

progress {
    vertical-align: baseline
}

.progress {
    display: flex;
    overflow: hidden;
    font-size: .75rem;
    line-height: 1rem;
    text-align: center;
    background-color: #e9ecef;
    border-radius: .25rem;
    
}
.progress-container {
    margin-bottom: 20px;
    font-size: 18px;
    position: relative;
}

.progress-container .progress {
    height: 5px;
    font-size: 18px;
}

.progress-bar {
    height: 1rem;
    line-height: 1rem;
    color: #fff;
    background-color: crimson;
    transition: width .6s ease
}
.progress-container .progress .progress-value {
    position: absolute;
    top: 2px;
    right: 0;
    font-size: 0.8571em;
}

.progress-container .progress-badge {
    font-size: 0.8571em;
    text-transform: uppercase;
}

.progress-container .progress {
    height: 5px;
    font-size: 18px;
}

.progress-container .progress-bar {
    height: 5px;
    transform: scaleX(0);
    transition: transform 2s ease-in-out;
    transform-origin: 0% 0%;
}

[data-aos][data-aos][data-aos-duration='400'], body[data-aos-duration='400'] [data-aos] {
    transition-duration: .2s;
}

[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
    transition-timing-function: ease;
}

[data-aos][data-aos][data-aos-duration='2000'], body[data-aos-duration='2000'] [data-aos] {
    transition-duration: 4s;
}

[data-aos^=fade][data-aos^=fade] {
    opacity: 0;
    transition-property: opacity,transform;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translate(0);
}

.progress-container .progress .progress-bar {
    box-shadow: none;
    background-color: rgb(248, 48, 88);
}

.progress-container.progress-primary .progress {
    background: rgba(55, 140, 63, 0.4);
}

.progress-container.progress-primary .progress-bar {
    background: #378C3F;
}


.progress-container.progress-primary .progress-value, .progress-container.progress-primary .progress-badge {
    color: #378C3F;
}

.progress-container .aos-animate {
    transform: scaleX(1);
}

.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem
}

.progress-bar-animated {
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite
}



#skill .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%
}

div {
    display: block;
}

*, ::after, ::before {
    /*box-sizing: inherit;*/
    box-sizing: border-box;
}



/*---------------Portfolio---------------*/

#portfolio{
    margin-top: 150px;
}
.my-5 {
    margin-top: 3rem!important;
    margin-bottom: 3rem!important;
}
.p-5 {
    padding: 3rem!important;
}
.bg-white {
    background-color: #fff!important;
}
.shadow-1-strong {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25),0 3px 10px 0 rgba(0,0,0,.2)!important;
}
#portfolio .m-4 {
    margin: 1.5rem!important;
}

#portfolio .text-teal {
    color: var(--bs-teal);
}

#portfolio .text-small {
    font-size: 0.85rem;
}
#portfolio .container{
    padding: 0 !important;
}

#portfolio .row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap; 
    margin-top: calc(var(--bs-gutter-y)*-1); 
    margin-right: calc(var(--bs-gutter-x)/-2); 
    margin-left: calc(var(--bs-gutter-x)/-2); 
}

#portfolio img, svg {
    vertical-align: middle;
}

#portfolio .img-fluid, .img-thumbnail {
    max-width: 100%;
    height: auto;
}

#portfolio .col-md-6{
    padding-right: 0px;
    padding-left: 0px
}

#portfolio .carousel-control-prev,
#portfolio .carousel-control-next{
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 50%;
    top: calc(50% - 25px);
}
#portfolio .carousel-control-prev{
    left: 5%;
}
#portfolio .carousel-control-next{
    right: 5%;
}

*, :after, :before {
    box-sizing: border-box;
}
@media (max-width: 767px) {
    /* disable animations on mobile */
    [data-aos] {
      opacity: 1 !important;
      transform: translate(0) scale(1) !important; }
    .p-5 {
      padding: 2.5rem 2rem !important; }
    #portfolio .container .m-5 {
      margin: 2rem 0 1rem !important; }
    .portfolio-reverse {
      flex-direction: column-reverse; }
    .portfolio-reverse .text-end {
      text-align: start !important; } }
    
      



/*------------------------------*/

.col-md-6{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}


.pA{
    border: 2px dashed white;
    
}
.pA2{
    border: 2px dashed crimson;
    
}
.pB{
    border: 1px dashed white;
    
}
.pb2{
    border: 1px dashed crimson;;
    
}



/* bg color aliceblue*/


